{% extends 'base.html' %}
{% block title %}{{ restaurant.name }}{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ restaurant.name }}</h2>
    <h4>{{ restaurant.cuisine }}<h4>
    <h5 class="text-muted">{{ restaurant.building_number }} {{ restaurant.street }}</h5>
    <h5 class="text-muted">{{ restaurant.boro}} {{ restaurant.zipcode }}</h5>

    <button type="submit" class="btn btn-light">
        <a href="/restaurant/review/{{ restaurant.id }}">Review</a>
    </button>

        <div class="col-sm-6">
            <ul class="list-group">
                
                {% for review in reviews %}

                <li class="list-group-item review-body">
                    <div>
                        <p><a href="/users/{{ review.user.id }}">@{{ review.user.username }}</a></p>
                        <span class="text-muted">{{ review.timestamp.strftime('%d %B %Y') }}</span>
                        <p>{{ review.text }}</p>

                        {% if g.user and g.user.id == review.user.id %}
                            <form method="POST" action="/review/{{ review.id }}/delete">
                                <button class="btn btn-outline-danger btn-sm review-delete-btn">Delete</button>
                            </form>
                        {% endif %}

                    </div>
                </li>

                {% endfor %}

            </ul>
        </div>
</div>

{% endblock %}