{% extends 'base.html' %}
{% block title %}Bookmarks{% endblock %}
{% block content %}

<div class="container">
    {% for restaurant in bookmarked_restaurants %}
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/users/add_bookmark">
                        <input type="hidden" name="name" value="{{ restaurant.name }}">
                        <input type="hidden" name="cuisine" value="{{ restaurant.cuisine }}">
                        <input type="hidden" name="boro" value="{{ restaurant.boro }}">
                        <input type="hidden" name="building_number" value="{{ restaurant.building_number }}">
                        <input type="hidden" name="street" value="{{ restaurant.street }}">
                        <input type="hidden" name="zipcode" value="{{ restaurant.zipcode }}">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-secondary btn-lg bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                    </form>
                    <form method="POST" action="/restaurant/review">
                        <input type="hidden" name="name" value="{{ restaurant.name }}">
                        <input type="hidden" name="cuisine" value="{{ restaurant.cuisine }}">
                        <input type="hidden" name="boro" value="{{ restaurant.boro }}">
                        <input type="hidden" name="building_number" value="{{ restaurant.building_number }}">
                        <input type="hidden" name="street" value="{{ restaurant.street }}">
                        <input type="hidden" name="zipcode" value="{{ restaurant.zipcode }}">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-light btn-sm review-btn">
                                <a href="/restaurant/review/{{ restaurant.id }}">Review</a>
                            </button>
                        </div>
                    </form>
                    <h5 class="card-title"><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></h5>
                    <p class="card-text">{{ restaurant.cuisine }}</p>
                    <p class="card-text">{{ restaurant.boro }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}